$dark-green: #165B33;
$light-green: #146B3A;
$gold: #F8B229;
$orange: #EA4630;
$red: #BB2528;

* {
  display: flex;
  box-sizing: border-box;
}


.col{
  flex-direction: column;
  justify-content: space-around;
}

.main{
  align-items: center;
  margin: auto;
}

html,
body {
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  background-image: url("/gift-bg.jpg");
  width: '100%';
  height: '100%';
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
